<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--<script src="https://use.fontawesome.com/682d3721fe.js"></script>-->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script src="/javascripts/jquery.min.map"></script>
    <script src="/javascripts/sweetalert.min.js"></script>
    <script src="/javascripts/custm.js"></script>

    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/sweetalert.css'/>
</head>
<body>
{{{body}}}
</body>
</html>
